//
// Portfolio
//

.portfolio {
  .portfolio-item {
    // border: 1px solid var(--bs-dark);
    cursor: pointer;
    position: relative;
    display: block;
    max-width: min(90%, 1000px);
    border-radius: $border-radius;
    overflow: hidden;
    &.no-click {
      cursor: default;
      .portfolio-item-caption {
        background-color: fade-out($primary, 0.05) !important;
      }
    }
    .portfolio-item-caption {
      position: absolute;
      top: 0;
      left: 0;
      transition: $transition-base;
      opacity: 0;
      background-color: fade-out($primary, 0.4);

      &:hover {
        opacity: 1;
      }

      .portfolio-item-caption-content {
        font-size: 2.5rem;
        text-transform: capitalize;
      }
    }
    h2 {
      text-transform: uppercase;
      text-align: center;
      padding: 10px 10px 4px;
    }
    .col-8 {
      margin: auto;
    }
    .col-4 {
      max-width: 30vw;
    }
  }
}

// Styling for the portfolio modals
.portfolio-modal {
  .cover-container {
    position: relative;
    .portfolio-item-over {
      position: absolute;
      top: 0;
      left: 0;
      transition: $transition-base;
      background-color: fade-out($primary, 0.1);
      .portfolio-item-over-content {
        font-size: 2.5rem;
        text-transform: uppercase;
      }
    }
  }
  .btn-close {
    color: $primary;
    font-size: 2rem;
    padding: 1rem;
  }

  .portfolio-modal-title {
    font-size: 2.25rem;
    line-height: 2rem;

    @include media-breakpoint-up(lg) {
      font-size: 3rem;
      line-height: 2.5rem;
    }
  }
}
