h2
    | Let's connect
p.mb-4
    | Get in touch for opportunities or to say hi 👋
p
    a.btn.btn-outline-dark.btn-social.mx-1(href='https://www.linkedin.com/in/barzi/', target='__blank')
        i.fab.fa-fw.fa-linkedin-in
    a.btn.btn-outline-dark.btn-social.mx-1(href='https://www.behance.net/mbarzi', target='__blank')
        i.fab.fa-fw.fa-behance
    a.btn.btn-outline-dark.btn-social.mx-1(href='https://dribbble.com/m-barzi', target='__blank')
        i.fab.fa-fw.fa-dribbble
    a.btn.btn-outline-dark.btn-social.mx-1(href='mailto:barzi.mozhdeh@gmail.com')
        i.fab.fa-solid.fa-envelope