doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='Mozhdeh Barzi')
        meta(rel="apple-touch-startup-image", href="assets/img/logo.png")
        meta(rel="apple-touch-icon", href="assets/img/logo.png")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
        meta(property="og:image", href="assets/img/logo.png")
        meta(property="twitter:image", href="assets/img/logo.png")

        title Mozhdeh Barzi

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        script(src='https://use.fontawesome.com/releases/v6.1.1/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand.bg-primary.fixed-top
            .container
                a.navbar-brand(href='#page-top') Experience Designer
                button.navbar-toggler.text-uppercase.font-weight-bold.bg-primary.text-white.rounded(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu 
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item.mx-1
                            a.nav-link.rounded(href='#portfolio') Work
                        li.nav-item.mx-1
                            a.nav-link.rounded(href='#about') About

        // Masthead
        header.masthead.bg-primary.text-white.text-center
            .head-container
                .header-torch 
                    .header-torch-back 
                        img#torch(src='assets/img/header/0.png',alt='Mozhdeh Light')
                .header-text-container
                    .header-text
                        // Masthead Heading
                        h1.masthead-heading
                            | 👋 Hello, I'm 
                            a(href='assets/MozhdehBarziCV.pdf' target='__blank')
                                b Mozhdeh Barzi
                            | .
                        p.masthead-subheading
                            | I experience the problem,
                            br
                            del find
                            |  
                            i design
                            |  the solution that lies in it.

        // Portfolio Section
        section#portfolio.page-section.portfolio
            .container
                // Portfolio Section Heading
                h2.page-section-heading.text-center.text-secondary.mb-0 Selected Works
                // Icon Divider
                .divider-custom
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-microscope
                    .divider-custom-line
                // Portfolio Grid Items
                .row.justify-content-center
                    each portfolio in ["chatify","shootshot"]
                        .col-md-12.mb-5
                            .portfolio-item.mx-auto(data-bs-toggle='modal', data-bs-target='#'+portfolio+'Modal')
                                .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                    .portfolio-item-caption-content.text-center.text-white
                                        | See More
                                img.img-fluid(src='assets/img/portfolio/'+portfolio+'/cover.png', alt=portfolio+'-cover')

        // About Section
        section#about.page-section
            .container
                // About Section Heading
                h2.page-section-heading.text-center.text-secondary.mb-0 About
                // Icon Divider
                .divider-custom
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-face-smile-beam
                    .divider-custom-line
                // About Section Content
                .row
                    .col-lg-4.ms-auto.avatar-div
                        img(src='assets/img/MozhdehBarzi.jpg', alt='Mozhdeh Barzi Profile photo')
                    .col-lg-4.ms-auto
                        p.lead
                            | My journey to UX design has not been the most straightforward, but it has been fulfilling.
                            br
                            br
                            | After receiving my Master's in 2012, when I moved to Singapore, I got familiar with the UX design field. Soon after, I received an innovation award for the mobile app concept that I've designed for the Institute of Innovations & Entrepreneurship of 
                            a(href='https://iie.smu.edu.sg/', target='__blank') SMU
                            |.
                            br
                            br
                            | Being an empathetic and active listener helped me to find a comprehensive yet agile approach to solve real life challenges/problems, which led me to become a Product Designer and create better experiences for people.
                    .col-lg-4.me-auto
                        p.lead
                            | I'm a self thought designer with +5 years experience as a UX generalist focusing on human-centered design process to produce a user-focused MVP.
                            br
                            br
                            | I have learnt theories of UX/UI design through 
                            a(href='https://en.wikipedia.org/wiki/Massive_open_online_course',target='__blank') MOOC
                            |, reading articles and applying these to real-world projects. Expert-level proficiency with major designing tools such as Figma, Adobe XD, Sketch, Adobe Photoshop and illustrator.
                            br
                            br
                            | Founding member of the ShootShot mobile app which was designed and developed based on a 
                            a(href='https://patents.google.com/patent/US9923846B2/en',target='__blank') patented
                            |  algorithm to eliminate friendliness bias in communications.
                // About Section Button
                .text-center.mt-4
                    a.btn.btn-xl.btn-outline-dark(href='assets/MozhdehBarziCV.pdf' target='__blank')
                        i.fas.fa-download.me-2
                        | CV/Resume
        // Footer
        footer.footer.text-center.bg-primary
            .container
                .row
                    // Footer Location
                    .col-lg-4.mb-5.mb-lg-0
                        h4.text-uppercase.mb-4 Location
                        p.lead.mb-0
                            | Japan, Tokyo
                    // Footer Social Icons
                    .col-lg-4
                        include includes/contact.pug
                        

        // Copyright Section
        div.copyright.bg-primary.text-center.text-white
            .container
                small Copyright &copy; Mozhdeh Barzi 2022

        // Portfolio Modals
        include includes/portfolio-chatify.pug
        include includes/portfolio-shootshot.pug

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        //- script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')